.img-over {
  position: relative;
  right: 2.5rem;
}
.img-over2 {
  position: relative;
  right: 5rem;
}
.group-name {
  color: #01676b;
  text-align: center;
  margin-top: 1rem;
}
.group-list {
  margin: 1.5rem 0 1.5rem 0;
}

.group-btn {
  float: right;
  margin-top: 1rem;
  margin-right: 1rem;
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;

  text-align: center;
  border-radius: 1rem;
}
.group-downicon {
  margin-right: 2rem;
  width: 0.8rem;
  margin-top: 1rem;
}
.user-btn {
  float: right;
  margin-top: 1rem;
  margin-right: 1rem;
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;

  text-align: center;
  border-radius: 1rem;
}
.user-btn2 {
  float: right;
  margin-top: 1rem;
  margin-right: 1rem;
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;

  text-align: center;
  border-radius: 1rem;
}
li {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  margin-top: 2rem;
  margin-left: 3rem;
  color: #ababab;
  width: 10rem;
  text-align: center;
  padding-bottom: 1.5rem;
}
li:hover {
  color: #00028c;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  transition: all 0.2s;
  box-shadow: 0 0 0 2px #00028c;
  clip-path: inset(1px 1px -5px 1px);
}
.noti-body {
  background-color: white;
  overflow: auto;
  box-shadow: var(--shadow);

  overflow-x: hidden;
  overflow-y: auto;
  border-radius: 30px;
  box-shadow: 0 0.15rem 1.75rem 0 rgb(58, 59, 59/15%) !important;
}
.noti-ul {
  text-decoration: none;
  list-style-type: none;
  margin-left: 2rem;
  padding: 0;
  margin: 0;
}
li {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  margin-top: 2rem;
  margin-left: 3rem;
  color: #ababab;
  width: 10rem;
  text-align: center;
  padding-bottom: 1.5rem;
}
.noti-ul li:hover {
  color: #00028c;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  transition: all 0.2s;
  box-shadow: 0 0 0 2px #00028c;
  clip-path: inset(1px 1px -5px 1px);
}
.noti-data {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;

  /* 6/3 */
  color: #01676b;
}
.btn-primary {
  border-color: white;
}
li {
  cursor: pointer;
}
.activeli {
  color: #00028c;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  transition: all 0.2s;
  box-shadow: 0 0 0 2px #00028c;
  clip-path: inset(1px 1px -5px 1px);
}
