.img-over {
  position: relative;
  right: 2.5rem;
}
.img-over2 {
  position: relative;
  right: 5rem;
}
.group-name {
  color: #01676b;
  text-align: center;
  margin-top: 1rem;
}
.group-list {
  margin: 1.5rem 0 1.5rem 0;
}

.group-btn {
  float: right;
  margin-top: 1rem;
  margin-right: 1rem;
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;

  text-align: center;
  border-radius: 1rem;
}
.group-downicon {
  margin-right: 2rem;
  width: 0.8rem;
  margin-top: 1rem;
}
